apiVersion: apps/v1
kind: Deployment
metadata:
  name: froystein-jp
  labels:
    app.kubernetes.io/name: froystein-jp
    app.kubernetes.io/component: web
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: froystein-jp
  template:
    metadata:
      labels:
        app.kubernetes.io/name: froystein-jp
        app.kubernetes.io/component: web
    spec:
      containers:
        - name: web
          image: ghcr.io/stianfro/froystein-jp:latest
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 50m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 101
            capabilities:
              drop:
                - ALL
      securityContext:
        seccompProfile:
          type: RuntimeDefault
